doctype html
head
  title Chat App
  link(rel='shortcut icon' href='./img/icon.png')
  link(rel='stylesheet' href='./css/index.css')
  link(rel='stylesheet' href='./css/messaging.css')
  link(href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500&display=swap" rel="stylesheet")
  // Meta Data
  meta(charset="UTF-8")
  meta(name='description' content='A personal chatroom app')
  meta(name='keywords' content='Chat, App, Chatroom')
  meta(name='author' content='Jak')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
ul#messages
form(action='')
  input#m(autocomplete='off')
  button Send
script(src='https://cdn.socket.io/socket.io-1.2.0.js')
script(src='https://code.jquery.com/jquery-1.11.1.js')
script(src='./js/index.js')
script(src='./js/messaging.js')
