/* Ids */

/* Classes */

.goto-form{
    font-size: 26px;
    text-align: center;
    margin-top: 15%;
}

.goto-form h1{
    margin: 0px 0px 25px 0px;
}

.goto-form span{
    margin: 0px;
}

.goto-form input{
    vertical-align: middle;
    padding: 5px;
    margin-left: 5px;
}

/* Tags */

/* Other */


