/* Ids */

/* Classes */

.goto-form{
    font-size: 26px;
    text-align: center;
    margin-top: 15%;
}

.goto-form h1{
    margin: 0px 0px 25px 0px;
}

.goto-form h1 img{
    width: 61.6px;
    height: 50.4px;
    margin-right: 15px;
    vertical-align: middle;
}

.goto-form h1 span{
    vertical-align: middle;
}

.goto-form span{
    margin: 0px;
}

.goto-form input{
    vertical-align: middle;
    padding: 10px;
    margin-left: 5px;
    background: transparent;
    border: 1px solid white;
    border-radius: 2.5px;
    font-size: 18px;
    width: 200px;
}

.goto-form input::placeholder{
    color: white;
    opacity: 0.75;
}

.root-url{
    display: inline;
}

/* Tags */

body{
    background: #2a7fff;
}

/* Other */

*{
    color: white;
}

*::selection{
    background: whitesmoke;
}


