/* Ids */

#messages{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li{
    font-size: 22px;
    padding: 10px 15px;
    background: #eee;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}

#messages{
    margin-bottom: 50px;
}

/* Classes */

/* Tags */

form {
    border-top: 1px solid lightslategrey;
    padding: 7.5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
}

form input {
    border: 1px solid lightslategrey;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    margin-left: .5%;
}

form button {
    width: 9%;
    background: #2a7fff;
    color: white;
    border: 1px solid lightslategrey;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s opacity;
}

form button:hover{
    opacity: 0.8;
}

form button:active{
    opacity: 0.6;
}

/* Other */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile */

@media only screen and (max-width: 600px) {

    form input {
        width: 79%;
    }
    
    form button {
        width: 19%;
        margin-right: 0%;
        margin-left: 1%;
    }

}

